.gdbinit
*.a
*.d
*.o
*.flat
*.elf
*.so
*.efi
.pc
patches
.stgit-*
cscope.*
*.swp
/lib/asm
/lib/config.h
/config.mak
/*-run
/msr.out
/tests
/efi-tests
/build-head
/logs/
/logs.old/
/api/api-sample
/api/dirty-log
/api/dirty-log-perf
/s390x/*.bin
